.modalHide {
  pointer-events: none;
  opacity: 0;
}

.modalWrapper {
  position: fixed;
  z-index: 10;
  user-select: none;
  /* pointer-events: none; */

  display: flex;
  justify-content: center;

  top: 50vh;
  right: 50vw;
  transform: translate(50%, -50%);

  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: rgba(150, 150, 150, 0.363);
}

.modalMovieDisplay {
  position: relative;
  transform: translateY(100px);

  display: flex;
  width: 594px;
  /* height: 352px; */
  height: fit-content;

  margin: 15px;
  padding: 4px;
  border-radius: 8px;

  transition: background-color;
  transition-duration: 0.2s;
  background-color: rgb(255, 255, 255);
  color: black;
}

.closeBtn {
  position: absolute;
  right: 3px;
  opacity: 0.5;
  fill: black;
  width: 20px;
  cursor: pointer;
}
.closeBtn:hover {
  opacity: 0.8;
}

.modalMovieDisplay img {
  width: 229px;
  height: 344px;
}

.modalMovieInfoWrapper {
  margin: 10px 14px;
}

.modalMovieTitle {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.modalMovieDesc {
  opacity: 0.8;
  margin-bottom: 15px;
}

.movieGenres {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.genreIcon {
  padding: 0 8px;
  border: solid 1px black;
  border-radius: 10px;
  margin: 3px 5px;
  width: fit-content;
  height: fit-content;
  font-size: 0.7rem;
  font-weight: bold;
}

.releaseDateWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2px 5px;
  font-size: 0.9rem;
}
.releaseDatetext {
  font-size: 0.7rem;
  opacity: 0.7;
}

.modalMovieRatingWrapper {
  width: 100%;
  display: flex;
  margin-bottom: 15px;
}

.ratingIcon {
  margin: 2px 5px;
  fill: rgb(255, 187, 42);
  width: 30px;
}
.ratingInfo {
  margin: 2px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ratingVotes {
  font-size: 0.7rem;
}

.otherInfoWrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
