.movieDisplayWrapper {
  display: flex;
  flex-wrap: wrap;
}

.movieDisplay {
  display: flex;
  width: 270px;
  height: 160px;
  padding: 4px;
  border-radius: 8px;

  transition: background-color;
  transition-duration: 0.2s;
  background-color: rgba(240, 248, 255, 0);
}
.movieDisplay:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.moviePoster {
  border-radius: 5px;
  max-width: 100%;
  height: auto;
  user-select: none;
}

.movieInfoWrapper {
  margin: 3px 5px;
}
.movieTitle {
  font-weight: bold;
}
.movieRatingWrapper {
  margin: 10px 0;
}
.solidStar {
  color: rgb(255, 187, 42);
  fill: rgb(255, 187, 42);
}
.hollowStar {
  color: rgb(255, 255, 255);
  opacity: 0.8;
}

.movieGenres {
  font-size: 0.9rem;
  opacity: 0.8;
}
