.searchWrapper {
  position: relative;
  display: flex;
  width: 400px;
  margin-bottom: 40px;
}

.searchIcon {
  position: absolute;
  right: 0;
  bottom: 50%;
  transform: translateY(55%);
  /* background-color: red; */
  padding: 5px 8px;
  cursor: pointer;
}

input[type='text'] {
  margin: 8px 0;
  width: 100%;
  box-sizing: border-box;
  padding: 8px 12px;
}
